.container{
    display: ruby;
    justify-content: center;
}

.navul{
    display: flex;
    list-style: none;
}


.button {
    background : rgb(0, 128, 0);
    border: none;
    color : white; 
    cursor: pointer;
    margin-top: 13px;
    height: 35px;
    border-radius: 0 10px 10px 0;
}

.button:hover {
    background :  #2e86c1; 
}

.input {
    border-radius : 0.5em;
    margin-top: 13px;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.input:hover {
    background :  #2e86c1;
    color: white;
}





